header, main, footer{
    background: rgb(245, 212, 255, 0.3);
    font-style: italic;
    width: 100%; /* Ocupar todo el ancho disponible */
    box-sizing: border-box; /* Incluir padding y border en el ancho/alto */
    padding: 20px; /* Un poco de espacio interno */
}
body{
    display: flex; /*habilito el flex para el body que va a contener todos los otros elementos (header, main, footer)*/
    flex-direction: column; /*Para que los elementos en su interior se posicionen en columna*/
    min-height: 100vh; /*Para que ocupe todo la altura*/
    font-family: "Playfair Display", serif;
    
    
}
footer{
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    background: rgb(13, 108, 168, 0);
    text-align: center;
    
}

li{
    list-style: none;
    
}
a{
    color: cadetblue;
    text-decoration: none;
}
nav{
    background: rgb(238, 134, 255, 0.3);
}

.footerNav{
    background-color: rgb(13, 108, 168, 0.3);
}

.footerA{
    color: black;
}

.card{
    background-color: #f5f5f5;
    width: 100px;
    border-radius: 10px;
    color: #6f8191;
    width: 10rem; 
    margin: 1rem;
    
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
    margin: 20px auto;
    gap: .5rem;
}

.formulario-items{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.formulario-items label{
    min-width: 80px;
    text-align: left;
    padding-right: 10px;
    box-sizing: border-box;
}

.formulario-items input, .formulario-items textarea{
    flex-grow: 1;
}

.button{
    display: flex;
    justify-content: center;
    width: 100%;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    background-image: url('images/imanen1.jpeg');
    background-size: cover; /* La imagen cubre todo el contenedor */
    background-position: center; /* Centra la imagen */
}

.imagen{
    max-width: 100%;
    height: 160px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    
    
}

.resenias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

video{
    
    max-width: 100%; /* Asegura que el video sea responsive */
    height: auto; /* Mantiene la proporción */
    display: block; /* Para eliminar el espacio extra debajo del video */
}

.contenedor-video{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    
}

main{
    flex-grow: 1; /* Permite que el contenido principal ocupe todo el espacio restante */
    background: rgb(206, 255, 53, 0.3);
    max-width: 960px; /* Establece un ancho máximo para el contenido */
    margin: 20px auto; /* Centrar el contenedor principal horizontalmente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centrar el texto dentro del main, si es necesario */
}

.div-footer{
    
    max-width: 30vh;
    margin: 0 auto;
    text-align: left;
}

#formularioContacto{
    display: flex;
    flex-wrap: wrap;
}

#formularioContacto{
    
    max-width: 100%; /* Asegura que el video sea responsive */
    height: auto; /* Mantiene la proporción */
    display: block; /* Para eliminar el espacio extra debajo del video */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;

}

.datoFormulario{
    width: 5%;
}

#contenedor-productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

#carrito{
    background-color: antiquewhite;
    border-radius: 10px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.elementosDelCarrito{
    
    min-width: 100%;
}

#restar{
    width: 22.99px;
    height: 19.2px;
}

#sumar{
    width: 22.99px;
    height: 19.2px;
}

#eliminar{
    background-color: brown;
    width: 22.99px;
    height: 19.2px;
}

.elementosDelCarrito {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px dashed #eee;
}
